/* Table w/ cells */
.sudoku {
    @include desktop() { width: 385px; }
    @include mobile()  { width: calc(100% - 100px); flex-grow: 1; }

    td {
        position: relative;
        margin: 0;
        text-align: center; 
        
        // separate rows (relative pos)
        &::after {
            content: '';
            display: block;
            margin-top: 100%;
        }
    }

    &__cell {
        @include no-select;
        @include desktop() { padding-top: 3.5px; }
        @include mobile()  { padding-top: 1vw; }
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        @include animation;
        &:focus      { outline: 0; }
        &--focus     { background-color: $focus; }
        &--invalid   { background-color: $invalid; }
        &--spotlight { color: $theme; }
    }
}

/* Sudoku Borders */
// grid (shadows)
tr > *:nth-child(n) > * {
    box-shadow: 1px 0 0 0 $border, 0 1px 0 0 $border;
    z-index: 5;
}

// borders - vertical
td {
    &:last-child > * {
        border-right: 2px $foreground solid;
    }
    &:nth-of-type(3n+1) > * {
        border-left: 2px $foreground solid;
    }
}
// borders - horizontal
tr {
    &:first-child td > * {
	    border-top: 2px $foreground solid;
    }
    &:nth-child(3n) td > * {
	    border-bottom: 2px $foreground solid;
    }
}

/* Sudoku Notes */
.sudoku .sudoku__cell::before {
    position: absolute;
    margin-top: -1px;
    align-items: center;
    color: $note;
    content: attr(note);
    @include desktop() { margin-left: -8px; }
    @include mobile()  { 
        margin-top: 1px;
        margin-left: calc(5px - 3vw); 
    }
}

.sudoku--notas {
    td .sudoku__cell {
        @include desktop() { 
            padding-right: 26px; 
            &::before {
                margin-top: 0px;
                margin-left: 8px;
            }
        }
        @include mobile()  {
            padding-right: calc(10px + 2vw); 
            padding-top: calc(1vw);
            &::before {
                margin-top: 0px;
                margin-left: calc(2vw - 1px);
            }
        }
    }
}