.sidebar { 
    @include no-select;
    @include mobile()  { margin-top: 20px; margin-bottom: 20px; width: 100%; }
    @include desktop() { margin-left: 30px; }
    width: 185px;
    display: flex;
    flex-wrap: wrap;

    &__button {
        height: 50px;
        width: 100%;
        @include mobile() { margin-bottom: 20px; }
    }

    &__cellbutton {
        border: 1px $border solid;
        width: 31%;
        margin: -1px 0 0 -1px;
        text-align: center;
        @include desktop() { padding-top: 5px; }

        &:hover  { background-color: $highlight; }
        &:active { background-color: $focus; }
    }

    &__celliconbutton {
        border: 1px $border solid;
        width: 48%;
        margin: -1px 0 0 -1px;
        align-content: center;
        text-align: center;
        display: inline-block;
    }

    #hint  {@include clickableIcon('lamp');}
    #undo  {@include clickableIcon('undo');}
    #erase {@include clickableIcon('eraser');}
    #notes {
        @include clickableIcon('pen');
        @include enableBadge;
    }

    @include mobile() { #newGame { margin-top: 20px; order: 2; } }

    /* Responsiveness */
    &__cells, &__icons {
        display: flex;
        flex-wrap: wrap;
        @include mobile() {
            width: 49%;
        }
    }
    > * { flex-grow: 1; }
    > * > * { flex-grow: 1; }
}