@font-face {
    font-family: 'Aileron Light';
    src: url('../fonts/aileron-light.otf') format('truetype');
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

@font-face {
    font-family: 'Droid Sans Bold';
    src: url('../fonts/droid-sans-bold.ttf') format('truetype');
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}