/* Utils */
@mixin no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version */
}

@mixin animation {
	-webkit-transition: all 100ms ease;
	 -khtml-transition: all 100ms ease;
	   -moz-transition: all 100ms ease;
	    -ms-transition: all 100ms ease;
         -o-transition: all 100ms ease;
            transition: all 100ms ease;
}

@mixin pseudoIcon($name, $color) {
	&::before {
    	content: '';
    	background: url('../../img/' + $name + '.png');
    	background-size: cover;
    	width: 32px;
		height: 32px;
		margin-top: 9px;
		margin-left: calc(50% - 15.5px);
		margin-bottom: 4px;
		display: block;
	}
	background-color: $color;
}

@mixin clickableIcon($name) {
	@include pseudoIcon($name + "_off", $background); 
  	&:hover  { @include pseudoIcon($name + "_hover", $highlight); }
	&:active { @include pseudoIcon($name + "_on", $theme); }
}

@mixin enableBadge() {
	&::after {
		content: 'OFF';
		background-color: $foreground;
		opacity: .6;
		color: $background;
		display: block;
		width: 25px;
		padding: 2px 2px 2px 1px;
		position: relative;
		margin-bottom: -30px;
		border-radius: 5px;
		top: -55px;
		left: 61px;
		@include mobile() { left: calc(2 * 13vw - 3.8rem); opacity: .3 !important; }
	}
}

.badge--on::after {
	content: 'ON' !important;
	background-color: $theme !important;
	opacity: .8 !important;
}

/* Responsive  Mixins */
@mixin mobile() {
    @media only screen and (max-width: 600px) {
        @content;
    }
}

@mixin desktop() {
    @media only screen and (min-width: 600px) {
        @content;
    }
}