html { font-family: 'Aileron Light'; }

// sidebar
.sidebar { 
    font-size: 0;
    > * { font-size: 12.5px; }
    &__button { 
        @include desktop() { font-size: 15px; }
        @include mobile() { font-size: calc(0.5rem + 2.5vw); }
    }
    &__cellbutton { font-size: 38px; font-family: 'Aileron Light'; }
    &__celliconbutton { font-family: 'Droid Sans Bold'; }
    button {  font-family: 'Droid Sans Bold'; }
}

// sudoku
td {
    font-family: 'Aileron Light';
    @include desktop() { 
        font-size: 27px; 
        .sudoku__cell::before { font-size: 10px; }
    } 
    @include mobile()  {
        font-size: calc(6vw - 0.15rem); 
        .sudoku__cell::before { font-size: calc(2px + 2vw);  }
    }
}

// sudoku notas
#notes::after {
    font-family: 'Aileron Light';
    font-size: 10px;
}

.sudoku--notas .sudoku__cell {
    @include desktop() { 
        font-size: 10px; 
        &::before { font-size: 27px; } 
    } 
    @include mobile()  {
        font-size: calc(2px + 2vw); 
        &::before { font-size: calc(6vw - 0.15rem); } 
    }
}