@import './_colors';
@import './_mixins';
@import './_fonts';
@import './_typography';

@import './components/_board';
@import './components/_sidebar';

html {
    background-color: $background;
    color: $foreground;
    margin: 0;
}

h1, p {
    margin-right: 25px;
    margin-left: 25px;
}

body {
    max-width: 600px;
    margin: auto;
}

.game {
    display: flex;
    flex-wrap: wrap;
    @include mobile() { margin: 0 50px 0 50px; }
}

.button {
    background-color: $theme;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
}

.sidebar_cells {
    width:90%;
}

/* DEBUG */
*{>*{outline: 1px solid pink}}