button.button.sidebar__button#newGame="Novo Jogo"

- n = 1;
.sidebar__cells
  while n < 10
    .sidebar__cellbutton=n++

.sidebar__icons
  each val, key in {notes: "Notas", hint: "Dica", undo: "Anular", erase: "Apagar"}
    .sidebar__celliconbutton(id=key)=val