// pug -w ./ -o ./html -P
doctype html
html(lang="pt-br")

  head
    title="Sudoku"
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/main.min.css")

  body
    h1 Sudoku - Frontend (WIP)
    table.sudoku(cellspacing="0")
      tbody
        include includes/board.pug

    script(src="./js/sudoku.js")